<!DOCTYPE html>
<html>
  <head>
    <title>SASSClassPass</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style.css" rel="stylesheet" media="screen">
  </head>


<div class=page> <br>
  <h3> You successfully reserved the following classes for next week: </h3><br>
      <p>
      {% for class in reserved_classes %}
         {{ class[1] }} {{class[3]}} - {{class[4]}} <br> 
      {% endfor %}  
    </p> <br>
    <form id='return_to_index' method='get' action='/' > 
        <input type='submit' value='Go back to studio list' />
    </form><br><br>
    <p>Click <a href="/logout">here</a> to logout.</p>
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
</div>